{% extends 'habitat/base.html' %}
{% block content %}
{% load static %}

<div class="directions-body">
    <div class="directions-text">
        <p class="header-text">
            Directions to <br>
            Cloof Wine Estate
        </p>
        <p class="directions-body-text">
            Start in the direction of the N1 highway northbound.
            Follow the signs leading to Paarl.
        </p>
        <p class="directions-body-text">
            From the N1 merge onto the N7 highway towards Malmesbury.
            Continue driving on N7 for approximately 50 kilometers until you get to Malmesbury.
        </p>
        <p class="directions-body-text">
            Turn left on the R315 towards Darling.
            Continue driving until you get to the train tracks, then turn left towards Darling Cellars.
        </p>
        <p class="directions-body-text">
            Carry on straight on the dirt road for about 5km until you get to Cloof Wine Estate, on your right hand side.
        </p>
        <p class="directions-body-text-warning">
            VERY IMPORTANT <br>
            Do not turn left toward Chatsworth or Kalkbaskraal as Google Maps suggests. <br>
        </p>


    </div>
</div>
{% endblock %}
